<div class="modal-header">
  <div class="col-md-4">
    <h4 class="modal-title pull-left">{{ title }}</h4>
  </div>
  <div class="col-md-4">
    <div class="input-group input-group-sm mb-3 col-md-12 float-right">
      <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="concurrentSearch">
      <div class="input-group-prepend" (click)="btnSearchConcurrent(concurrentSearch)">
        <span class="input-group-text btn btn-primary" id="inputGroup-sizing-sm">ค้นหา</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button type="button" class="close pull-right m-0 p-0" aria-label="Close" (click)="btnClose()">
      <span aria-hidden="true" style="font-size: 20px !important;">&times;</span>
    </button>
  </div>
</div>


<div class="modal-body overflow-auto" style="max-height: 400px;">

  <ng-container *ngIf="data.dashboardListConcurrentViewDto.length > 0;else notfound">

    <nb-accordion>

      <nb-accordion-item #accordion
        *ngFor="let itemDashboardListConcurrentViewDto of data.dashboardListConcurrentViewDto |filter:concurrentSearch">
        <nb-accordion-item-header>
          {{ itemDashboardListConcurrentViewDto.firstName }} {{ itemDashboardListConcurrentViewDto.lastName }}
          {{ itemDashboardListConcurrentViewDto.dateLog | date:'dd/MM/yyyy' }}
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="row">
            <div class="col-md-2 font-weight-bold">Concurrent Date: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.dateLog | date:'dd/MM/yyyy' }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Dx.: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.disease }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Operation date: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.operationDate | date:'dd/MM/yyyy' }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Operative/procedure: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.operativeProcedure }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Problem/Prognosis: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.problemPrognosis }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Investigation: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.investigation }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">OrderForOneday: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.orderForOneday }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">OrderForContinue: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.orderForContinue }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Plan DC: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.planDC }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 font-weight-bold">Plan DC: </div>
            <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.expenses }}</div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

  </ng-container>


  <ng-template #notfound>
    <div class="col-md-12 text-center">Information not found</div>
  </ng-template>


</div>

<div class="clearfix"></div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary bg-purple btn-flat" (click)="btnAdd()"><i class="fas fa-plus p-1"></i>Add</button>

  <!-- <a [href]="fileUrl" class="btn btn-info bg-purple btn-flat" [download]="item.dashboardList.gcl + '.pdf'"><i class="fas fa-print p-1"></i>Print</a> -->

  <button type="button" class="btn btn-info bg-purple btn-flat" (click)="btnPrintPdfConcurrentHistoryPdfFile()"><i class="fas fa-print p-1"></i>Print</button>

  <button type="button" class="btn btn-danger bg-purple btn-flat" (click)="btnClose()"><i
      class="fas fa-sign-out-alt p-1"></i>Close</button>
</div>