<nb-card size="giant" class="d-flex flex-column h-100">
  <nb-card-body>
    <span class="h5 location">Policy List</span>
    <hr />

    <div class="row">

      <div class="col-md-12">

        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Search Insured Person</legend>

          <form autocomplete="off" [formGroup]="createFormSearch" (ngSubmit)="btnSearchPolicy()">



            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Insured Person Name :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="insuredPersonName">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Insured Person Surname :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="insuredPersonSurname">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Policy No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="policyNo">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Member No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="memberNo">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">ID No./Passport No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="passportNo">
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-12 text-right">
                <button type="submit" size="small" class="btn btn-primary m-1"><i class="fas fa-search"></i>
                  Search</button>
                <button type="button" size="small" class="btn btn-danger m-1" (click)="resetForm()"><i
                    class="fas fa-trash"></i>
                  Reset</button>
              </div>
            </div>
          </form>

        </fieldset>

      </div>

      <div class="col-md-12">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Result Search</legend>

          <div class="row">


            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Policy No.</th>
                      <th scope="col">Member No.</th>
                      <th scope="col">ID No./Passport No.</th>
                      <th scope="col">Insured Name</th>
                      <th scope="col">Insured Surname</th>
                      <th scope="col">Product</th>
                      <th scope="col">Internal Plan</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col" class="text-center">Trn. Type</th>
                      <th scope="col" class="text-center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="policy.length > 0;else policyNotfound">
                      <tr *ngFor="let item of policy" (click)="reserveClaim(item)">
                        <td>{{ item.policyNo }}</td>
                        <td>{{ item.memberNo }}</td>
                        <td>{{ item.peoples.nationidPassport }}</td>
                        <td>{{ findLangForName(item.peoples.peopleLangs).name }}</td>
                        <td>{{ findLangForName(item.peoples.peopleLangs).surname }}</td>
                        <td>{{ findLangForName(item.plan.product.langs).name }}</td>
                        <td>{{ findLangForName(item.plan.langs).name }}</td>
                        <td>{{ item.dateStart | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.dateEnd | date: 'dd/MM/yyyy' }}</td>
                        <td class="text-center">-</td>
                        <td class="text-center">
                          {{ dateDifference(item.dateEnd | date: 'dd/MM/yyyy', moment().format('L')) < 0 ? 'Inactive' : 'Active' }}
                        </td>
                      </tr>
                    </ng-container>
                    <ng-template #policyNotfound>
                      <tr>
                        <td colspan="11" class="text-center">Information not found</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>

                <div class="float-right">
                  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
            </div>


          </div>

        </fieldset>
      </div>

    </div>




  </nb-card-body>
</nb-card>