<div class="modal-header">
  <div class="col-md-4">
    <h4 class="modal-title pull-left">Related GCL</h4>
  </div>

  <div class="col-md-4">
    <div class="input-group input-group-sm mb-3 col-md-12 float-right">
      <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="filterList.Search"
        (keyup.enter)="fnSearch()">
      <div class="input-group-prepend" (click)="fnSearch()">
        <span class="input-group-text btn btn-primary" id="inputGroup-sizing-sm">ค้นหา</span>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <button type="button" class="close pull-right m-0 p-0" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" style="font-size: 20px !important;">&times;</span>
    </button>
  </div>
</div>


<div class="modal-body overflow-auto" style="max-height: 450px;">

  <div class="row p-0 m-0">
    <div class="col-md-12 p-0">

      <div class="table-responsive">

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="col-auto">GCL</th>
              <th class="col-auto">Case No.</th>
              <th class="col-auto">Name/Surname</th>
              <th class="col-auto">Policy No.</th>
              <th class="col-auto">Member No.</th>
              <th class="col-auto">Hospital Name</th>
              <th class="col-auto">Doc. Type</th>
              <th class="col-auto">Acc. Date</th>
              <th class="col-auto">Created Date</th>
              <th class="col-auto">Created by</th>
              <th class="col-auto">Claim Type</th>
              <th class="col-auto">Status Claim</th>
              <th class="col-auto">Chanel</th>
              <th class="col-auto">Amount</th>
              <th class="col-aoto">Action</th>
            </tr>
          </thead>
          <tbody>

            <ng-container *ngIf="claimsInvoice.length > 0;else claimFollowUpNotfound">
              <tr *ngFor="let item of claimsInvoice; let i = index">
                <td>{{ item.gcl }}</td>
                <td>{{ item.claimsCase.no }}</td>
                <td>{{ findLangForName(item.policie.peoples.peopleLangs).name }}
                  {{ findLangForName(item.policie.peoples.peopleLangs).surname }}</td>
                <td>{{ item.policie.policyNo }}</td>
                <td>{{ item.policie.memberNo }}</td>
                <td>{{ findLangForName(item.hospital.hospitalsLangs).name }}</td>
                <td>{{ findLangForName(item.docType.docTypeLangs).name }}</td>
                <td>{{ item.accidentDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.createByUser.firstName }} {{ item.createByUser.lastName }}</td>
                <td>{{ findLangForName(item.claimsType.claimsTypesLangs).name }}</td>
                <td>{{ findLangForName(item.status.statusLangs).name }}</td>
                <td>{{ item.channel.name }}</td>
                <td>{{ item.expenses }}</td>
                <td>
                  <button type="button" class="btn btn-primary bg-purple btn-flat" (click)="btnRelate(item)">
                    Related
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-template #claimFollowUpNotfound>
              <tr>
                <td colspan="15" class="text-center">Information not found</td>
              </tr>
            </ng-template>

          </tbody>
        </table>


        <div class="float-right">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="clearfix"></div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger bg-purple btn-flat" (click)="btnReset()"><i class="fas fa-trash p-1"></i>Reset</button>
  <button type="button" class="btn btn-danger bg-purple btn-flat" (click)="bsModalRef.hide()"><i
      class="fas fa-sign-out-alt p-1"></i>Close</button>
</div>