<fieldset class="scheduler-border" *ngIf="!viewExpense">
  <legend class="scheduler-border">Data Entry</legend>
  <div class="col-md-12 mb-3">
    <input type="text" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="searchDataEntry">
  </div>

  <div class="col-md-12">
    <table class="table transaction">
      <thead>
        <tr>
          <th class="text-center">Item</th>
          <th class="text-center">Action</th>
          <th class="text-center">Expense</th>
          <th class="text-center">Unit</th>
          <th class="text-center">Discount</th>
          <th class="text-center">Expense/Unit</th>
          <th class="text-center">Discount %</th>
          <th class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let co of expensessData.ia?.co">
          <ng-container *ngFor="let be of co.be">
            <ng-container *ngFor="let ex of be.ex |filter:searchDataEntry; let i = index;">


              <tr>
                <td class="text-left">
                  {{ ex.itemName }}
                </td>
                <td class="text-center">
                  <i class="fas fa-minus-circle p-1" nbTooltip="reject partial" nbTooltipPlacement="top" nbButton
                    (click)="rejectItem(co, be, ex)"></i>
                  <i class="fas fa-ban p-1" nbTooltip="reject item" nbTooltipPlacement="top" nbButton
                    (click)="rejectPartial(co, be, ex)"></i>
                </td>
                <td class="text-center" style="width: 15% !important;">
                  <div class="row">

                    <div class="col-md-6 pr-1">
                      <input [appFocus]="true" numeric numericType="decimal" type="text"
                        class="text-right form-control form-control-sm" name="expensesTotal" [value]="ex.expensesTotal"
                        (keyup)="changeValue($event, co, be, ex)">
                    </div>

                    <div class="col-md-6 pl-1">
                      <input numeric numericType="decimal" type="text" class="text-right form-control form-control-sm"
                        name="reject" [readonly]="ex.isReject" nbTooltip="Enter Calculator" nbTooltipPlacement="top"
                        nbButton [value]="ex.reject" (keyup.enter)="rejectItemEnter(co, be, ex)"
                        (keyup)="changeValue($event, co, be, ex)" (focusout)="rejectItemEnter(co, be, ex)">
                    </div>

                  </div>
                </td>
                <td class="text-center">
                  <input numeric numericType="decimal" type="text" class="text-right form-control form-control-sm"
                    name="unit" (keyup)="changeValue($event, co, be, ex)" [value]="ex.unit">
                </td>
                <td class="text-center">
                  <input numeric numericType="decimal" type="text" class="text-right form-control form-control-sm"
                    name="discount" [value]="ex.discount" (keyup)="changeValue($event, co, be, ex)">
                </td>
                <td class="text-center">
                  <input type="text" class="text-right form-control form-control-sm" readonly [value]="ex.expensesUnit"
                    name="expensesUnit">
                </td>
                <td class="text-center">
                  <input numeric numericType="decimal" type="text" class="text-right form-control form-control-sm"
                    readonly name="discountMod" [value]="ex.discountMod">
                </td>
                <td class="text-center">
                  <input numeric numericType="decimal" type="text" class="text-right form-control form-control-sm"
                    name="total" readonly [value]="ex.total">
                </td>
              </tr>




            </ng-container>
          </ng-container>
        </ng-container>


      </tbody>
    </table>
  </div>

  <hr />

  <div class="col-md-12">

    <div class="form-group">
      <label class="label" for="input-password">Expense Item</label>
      <ng-select [items]="expenseItem$ | async" bindLabel="expensesItemCode" [addTag]="false" [multiple]="false"
        [hideSelected]="false" [trackByFn]="trackByFn" [loading]="expenseLoading" [typeahead]="expenseInput$"
        [(ngModel)]="selectedExpense" placeholder="Search Expense" appendTo="body" (change)="onChangeExpense($event)">
      </ng-select>
    </div>

  </div>

</fieldset>


<fieldset class="scheduler-border" *ngIf="viewExpense">
  <legend class="scheduler-border">Transaction</legend>

  <div class="col-md-12" style="overflow: scroll;">

    <table class="table transaction">
      <thead>
        <tr>
          <th colspan="10">Type</th>
          <th colspan="5">Description</th>
          <th class="text-center">Expense</th>
          <th class="text-center">Discount</th>
          <th class="text-center">Total</th>
          <th class="text-center">Co-payment</th>
          <th class="text-center">Cover</th>
          <th class="text-center">Uncover</th>
          <th class="text-center">Deductible</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="expensessData.ia.co != null">
          <tr>
            <td></td>
            <td colspan="9">
              {{ expensessData.ia?.itemName }} <i (click)="expensessData.ia.isCollapsed = !expensessData.ia.isCollapsed" class="fas font-weight-bold"
              [ngClass]="{'fa-angle-down': expensessData.ia.isCollapsed , 'fa-angle-up': !expensessData.ia.isCollapsed }"
              style="font-size: 17px; cursor: pointer;" aria-hidden="true"></i></td>
            <td colspan="5">{{ expensessData.ia?.description }}</td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly [value]="expensessData.ia?.expense">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly
                [value]="expensessData.ia?.discount">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly [value]="expensessData.ia?.total">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly
                [value]="expensessData.ia?.coPayment">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly [value]="expensessData.ia?.cover">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly [value]="expensessData.ia?.uncover">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm w100" readonly
                [value]="expensessData.ia?.deductible">
            </td>
          </tr>
          <ng-container *ngIf="expensessData.ia?.isCollapsed">
            <ng-container *ngFor="let co of expensessData.ia?.co">
              <tr>
                <td></td>
                <td></td>
                <td colspan="8">{{ co.itemName }} <i (click)="co.isCollapsed = !co.isCollapsed" class="fas font-weight-bold"
                  [ngClass]="{'fa-angle-down': co.isCollapsed , 'fa-angle-up': !co.isCollapsed }"
                  style="font-size: 17px; cursor: pointer;" aria-hidden="true"></i></td>
                <td colspan="5">{{ co.description }}</td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.expense"></td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.discount"></td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.total"></td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.coPayment"></td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.cover"></td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.uncover"></td>
                <td><input type="text" class="form-control form-control-sm w100" readonly [value]="co.deductible"></td>
              </tr>

              <ng-container *ngIf="co.isCollapsed">
                <ng-container *ngFor="let be of co.be">

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="7">{{ be.itemName }} <i (click)="be.isCollapsed = !be.isCollapsed" class="fas font-weight-bold"
                      [ngClass]="{'fa-angle-down': be.isCollapsed , 'fa-angle-up': !be.isCollapsed }"
                      style="font-size: 17px; cursor: pointer;" aria-hidden="true"></i></td>
                    <td colspan="5">{{ be.description }}</td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.expense"></td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.discount">
                    </td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.total"></td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.coPayment">
                    </td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.cover"></td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.uncover"></td>
                    <td><input type="text" class="form-control form-control-sm w100" readonly [value]="be.deductible">
                    </td>
                  </tr>
                  <ng-container *ngIf="be.isCollapsed">
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center" colspan="6">Item</th>
                      <th class="text-center">Expense / unit</th>
                      <th class="text-center">Unit</th>
                      <th class="text-center">Discount %</th>
                      <th class="text-center">HP Discount %</th>
                      <th class="text-center">Reject</th>
                      <th class="text-center">Expense</th>
                      <th class="text-center">Discount</th>
                      <th class="text-center">Total</th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                    </tr>
                    <ng-container *ngFor="let ex of be.ex; let i = index;">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="6">{{ ex.itemName }}</td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly
                            [value]="ex.expensesUnit">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly [value]="ex.unit">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly
                            [value]="ex.discountMod">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly [value]="ex.hpDiscount">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly [value]="ex.reject">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly
                            [value]="ex.expensesTotal">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly [value]="ex.discount">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm w100" readonly [value]="ex.total">
                        </td>
                        <td>
                          <i class="fas fa-trash" style="vertical-align: bottom;" (click)="deleteEx(co, be, ex, i)"></i>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

</fieldset>

<div class="row">
  <div class="col-md-12 text-left">
    <button type="button" size="small" class="btn btn-success m-1" *ngIf="viewExpense"
      (click)="viewExpense = !viewExpense"><i class="fas fa-arrow-left"></i> Back</button>
  </div>
  <div class="col-md-12 text-right">
    <button type="button" size="small" class="btn btn-primary m-1" *ngIf="viewExpense"><i class="far fa-save"></i>
      Save</button>
    <button type="button" size="small" class="btn btn-success m-1" *ngIf="viewExpense"><i class="fas fa-calculator"></i>
      Calculator</button>
    <button type="button" size="small" class="btn btn-success m-1" *ngIf="!viewExpense"
      (click)="viewExpense = !viewExpense"><i class="far fa-eye"></i> View</button>
    <!-- <button type="button" size="small" class="btn btn-danger m-1"><i class="fas fa-sign-out-alt"></i>Exit</button> -->
  </div>
</div>