@import '../../../../style.scss';

table * {
    font-size: 10px !important;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
}


nb-radio{
    display: inline-block !important;
}

.w100{
    width: 100px;
    text-align: center;
}

.w500{
    width: 500px;
    text-align: center;
}

.be-padding-0{
    padding: 0 !important;
}

.transaction .table th, .transaction .table td{
    border: none !important;
}


