<div class="row">

  <!-- <div class="col-md-6" *ngFor="let item of dashboardViewDto">
    <ngx-dashboard-fax-card [dashboardViewDto]='item'></ngx-dashboard-fax-card>
  </div> -->

  <div class="col-md-6">
    <ngx-discharge-dashboard></ngx-discharge-dashboard>
  </div>
  <div class="col-md-6">
    <ngx-concurrent-dashboard></ngx-concurrent-dashboard>
  </div>
  <div class="col-md-6">
    <ngx-preauthorized-dashboard></ngx-preauthorized-dashboard>
  </div>
  <div class="col-md-6">
    <ngx-todo-list-dashboard></ngx-todo-list-dashboard>
  </div>

</div>