<nb-card size="giant" class="d-flex flex-column h-100">
  <nb-card-body>

    <div class="row">

      <div class="col-md-12">

        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Insured Person Info</legend>

          <div class="row">
            <div class="col-md-3">Policy No. :
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.policyNo }}</div>
            <div class="col-md-3">Member No. :
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.memberNo }}</div>
            <div class="col-md-3">Card No. : {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.cardNo }}
            </div>
            <div class="col-md-3">Claim No. :
              {{ faxclaimService?.infomationForClaimDto.infomationClaims?.claimsCase.no }}</div>
            <div class="col-md-3">Member Effective Date :
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.memberEffectiveDate | date: 'dd/MM/yyyy' }}
            </div>
            <div class="col-md-3">Member End Date :
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.memberEndDate | date: 'dd/MM/yyyy' }}
            </div>
            <div class="col-md-3">Member Status :
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.memberStatus == '1' ? 'Active' : 'Inactive' }}
            </div>
            <div class="col-md-3">GCL No. : {{ faxclaimService?.infomationForClaimDto.infomationClaims?.gcl }}</div>
            <div class="col-md-3">Insured Person Name/Surname :
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.firstName }}
              {{ faxclaimService?.infomationForClaimDto?.infomationForPolicys?.lastName }}</div>
            <div class="col-md-3">Product/Plan :
              {{ faxclaimService?.infomationForClaimDto.infomationPlans?.plan.product.code }}/{{ faxclaimService?.infomationForClaimDto.infomationPlans?.plan.code }}
            </div>
            <div class="col-md-3">Doc Type : {{ faxclaimService?.infomationForClaimDto.infomationClaims?.docTypeLang }}
            </div>
            <div class="col-md-3">Status :
              {{ faxclaimService?.infomationForClaimDto.infomationClaims?.statusClaimLang }}</div>

          </div>

        </fieldset>

      </div>

    </div>

    <nb-tabset id="tabset" name="tabset" #tabset>
      <nb-tab tabTitle="Claim Info" tabIcon="menu-2-outline" responsive id="claimInfo" name="claimInfo" #claimInfo>



        <div class="row">



          <div class="col-md-8">
            <form [formGroup]="claimInfoForm">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Claim Type Concurrent</legend>

                <nb-radio-group name="ClaimTypeConcurrent" [(ngModel)]="selectedClaimTypeConcurrent"
                  formControlName="claimTypeConcurrent" [disabled]="isEdit">
                  <nb-radio *ngFor="let item of claimTypeConcurrentProcess" [value]="item.id">
                    {{ item.name }}
                  </nb-radio>
                </nb-radio-group>

              </fieldset>


              <fieldset class="scheduler-border">
                <legend class="scheduler-border">The medical coverage by system</legend>

                <div class="row">
                  <div [class]="isProcess ? 'col-md-3' : 'col-md-6'">
                    <div class="form-group">
                      <label class="label" for="input-username">Claim Type</label>
                      <ng-multiselect-dropdown [placeholder]="'Select Claim Type'" [data]="claimTypeList"
                        formControlName="claimType" [(ngModel)]="selectedClaimTypeItems" [settings]="dropdownSettings"
                        (onSelect)="onClaimTypeItemItemSelect($event)"
                        (onDeSelect)="onDeClaimTypeItemItemSelect($event)" [disabled]="isGroupProcess">
                      </ng-multiselect-dropdown>

                    </div>
                  </div>

                  <div class="col-md-3" *ngIf="isProcess">
                    <div class="form-group">
                      <label class="label" for="input-username">Claim Process</label>
                      <ng-multiselect-dropdown [placeholder]="'Select Process'" [data]="processList"
                        formControlName="claimProcess" [(ngModel)]="selectedProcessItems" [settings]="dropdownSettings"
                        [disabled]="isGroupProcess">
                      </ng-multiselect-dropdown>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Insuring Agreement</label>
                      <ng-multiselect-dropdown [placeholder]="'Select Insuring Agreement'"
                        formControlName="insuringAgreement" [data]="insuringAgreementList"
                        [(ngModel)]="selectedInsuringAgreementItems" [settings]="dropdownSettings"
                        [disabled]="isGroupProcess">
                      </ng-multiselect-dropdown>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="input-password">Hospital</label>
                      <!-- <input type="text" class="form-control form-control-sm"> -->

                      <ng-select [items]="hospitalItem$ | async" bindLabel="name" [addTag]="false" [multiple]="false"
                        formControlName="hospital" [hideSelected]="false" [trackByFn]="trackByFn"
                        [loading]="hospitalLoading" [typeahead]="hospitalInput$" [(ngModel)]="selectedHospital"
                        placeholder="Search Hospital" appendTo="body" class="custom" [readonly]="isEdit">
                      </ng-select>

                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Invoice Doc. Date</label>
                      <input type="text" class="form-control form-control-sm" formControlName="invoiceDate" bsDatepicker
                        [bsConfig]="bsConfig" [isDisabled]="isEdit" [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Bill/Invoice No.</label>
                      <input type="text" class="form-control form-control-sm" formControlName="invoiceNo"
                        [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Bill/Invoice Received date</label>
                      <input type="text" class="form-control form-control-sm" formControlName="receivedDate"
                        bsDatepicker [bsConfig]="bsConfig" [isDisabled]="isEdit" [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Accident Date / Incident Date</label>
                      <input type="text" class="form-control form-control-sm" formControlName="accidentDate"
                        bsDatepicker [bsConfig]="bsConfig" [isDisabled]="isEdit" [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Admit date</label>
                      <input type="text" class="form-control form-control-sm" formControlName="admitDate" bsDatepicker
                        [bsConfig]="bsConfig" [isDisabled]="isEdit" [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Visit Date</label>
                      <input type="text" class="form-control form-control-sm" formControlName="visitDate" bsDatepicker
                        [bsConfig]="bsConfig" [isDisabled]="isEdit" [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Discharge date</label>
                      <input type="text" class="form-control form-control-sm" formControlName="dischargeDate"
                        bsDatepicker [bsConfig]="bsConfig" [isDisabled]="isEdit" [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Hospital No</label>
                      <input type="text" class="form-control form-control-sm" formControlName="hospitalNo"
                        [readonly]="isEdit">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="label" for="input-password">Related GCL</label>
                      <input type="text" class="form-control form-control-sm" readonly formControlName="relatedGcl"
                        (click)="btnRelatedGcl()">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="input-password">Remark</label>
                      <textarea class="form-control form-control-sm" formControlName="remark"
                        [readonly]="isEdit"></textarea>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="input-password">Document Type</label>
                      <div>
                        <nb-radio-group name="documentType" [(ngModel)]="selectedDocumentType"
                          formControlName="documentType" [disabled]="isEdit">
                          <nb-radio *ngFor="let item of documentType" [value]="item.id">
                            {{ item.name }}
                          </nb-radio>
                        </nb-radio-group>
                      </div>

                    </div>
                  </div>

                </div>

              </fieldset>

              <fieldset class="scheduler-border" style="display: none;">
                <legend class="scheduler-border">Payment Infomation</legend>

                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Insured Payment Method</label>
                      <div>
                        <nb-radio-group name="InsuredPaymentMethod" [(ngModel)]="selectedInsuredPaymentMethod"
                          formControlName="insuredPaymentMethod">
                          <nb-radio value="1">Cheque</nb-radio>
                          <nb-radio value="2">Bank Transfer</nb-radio>
                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">จ่ายสินไหม ในนาม</label>
                      <div>
                        <nb-radio-group name="PayInName" [(ngModel)]="selectedPayInName" formControlName="payInName">
                          <nb-radio value="1">สมาชิก</nb-radio>
                          <nb-radio value="2">ผู้ถือกรมธรรม์</nb-radio>
                          <nb-radio value="3">บริษัทในเครือ</nb-radio>
                        </nb-radio-group>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Bank Account name</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Bank name</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Bank Account No.</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Bank Branch</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Delivery Mode</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Beneficiary Address</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label class="label" for="input-password">Beneficiary Post Code</label>
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>

                </div>

              </fieldset>
            </form>
          </div>



          <div class="col-md-4">

            <div class="row">
              <div class="col-md-12">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">GCL Infomation</legend>

                  <div class="row">
                    <div class="col-md-12">Claim No. :
                      {{ faxclaimService?.infomationForClaimDto.infomationClaims?.claimsCase.no }}</div>
                    <div class="col-md-12">GCL No. : {{ faxclaimService?.infomationForClaimDto?.infomationClaims?.gcl }}
                    </div>
                    <div class="col-md-12">Status :
                      {{ faxclaimService?.infomationForClaimDto?.infomationClaims?.statusClaimLang }}</div>
                    <div class="col-md-12">Status reason : ยังไม่ได้ทำ</div>
                    <div class="col-md-12">Created by :
                      {{ faxclaimService?.infomationForClaimDto?.infomationClaims?.createByUser.userName }}</div>
                    <div class="col-md-12">Update Date :
                      {{ faxclaimService?.infomationForClaimDto?.infomationClaims?.updatedAt | date: 'dd/MM/yyyy' }}
                    </div>
                    <div class="col-md-12">Update by :
                      {{ faxclaimService?.infomationForClaimDto?.infomationClaims?.updateByUser.userName }}</div>

                  </div>

                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Medical Expense Infomation</legend>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Total Medical Expenses :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Discount :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Accepted Amount :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Final Cover :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Final Uncover :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Pay to Hospital :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Pay to Insured Person :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Diff (Net Amount - Pay) :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Diff owner :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Bill to Insurer :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Co-Payment :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="label col-sm-4 col-form-label text-right">Deductible :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm text-right" readonly value="0">
                    </div>
                  </div>



                </fieldset>
              </div>
            </div>



          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-right">
            <button type="button" size="small" class="btn btn-primary m-1" (click)="isEdit = !isEdit"><i
                class="far fa-edit"></i> Edit</button>
            <button type="button" size="small" class="btn btn-primary m-1" (click)="saveClaimFormSubmit()"
              [disabled]="isEdit"><i class="far fa-save"></i> Save</button>

            <!-- <button type="button" size="small" class="btn btn-success m-1"
              (click)="saveChangeStatus(faxclaimService?.infomationClaim.statusClaim)">
              {{ statusReturn(faxclaimService?.infomationClaim.statusClaim) }}
            </button> -->

            <ng-container *ngFor="let item of faxclaimService?.dataBtnChangeStatus">
              <ngx-btn-change-status [dataBtnChangeStatus]="item" [claimInfoForm]="claimInfoForm"
                [infomationClaim]="faxclaimService?.infomationForClaimDto?.infomationClaims"></ngx-btn-change-status>
            </ng-container>

            <button type="button" size="small" class="btn btn-danger m-1"><i class="fas fa-ban"></i> Exit</button>
          </div>
        </div>








      </nb-tab>



      <nb-tab tabTitle="Expense" tabIcon="file-add-outline" responsive [disabled]="disabledTab">


        <div class="row">

          <div class="col-md-12">

            <ngx-expensess [expensessData]="data.expensessData1" [dataDetailInvoice]="dataDetailInvoice">
            </ngx-expensess>

          </div>

        </div>



      </nb-tab>


      <nb-tab tabTitle="Concurrent" tabIcon="phone-outline" responsive [disabled]="disabledTab">

        <!-- <div class="col-md-12 p-0" *ngFor="let item of dashboardViewDto">
          <ngx-dashboard-fax-card [dashboardViewDto]='item'></ngx-dashboard-fax-card>
        </div> -->

        <div class="row">
          <div class="col-md-12">
            <div class="input-group input-group-sm mb-3 col-md-12 float-right">
              <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm"
                [(ngModel)]="concurrentSearch">
              <div class="input-group-prepend">
                <span class="input-group-text btn btn-primary" id="inputGroup-sizing-sm">ค้นหา</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ng-container *ngIf="data.dashboardListConcurrentViewDto.length > 0">

              <nb-accordion>

                <nb-accordion-item #accordion
                  *ngFor="let itemDashboardListConcurrentViewDto of data.dashboardListConcurrentViewDto |filter:concurrentSearch">
                  <nb-accordion-item-header>
                    {{ itemDashboardListConcurrentViewDto.firstName }} {{ itemDashboardListConcurrentViewDto.lastName }}
                    {{ itemDashboardListConcurrentViewDto.dateLog | date:'dd/MM/yyyy' }}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>

                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Concurrent Date: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.dateLog | date:'dd/MM/yyyy' }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Dx.: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.disease }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Operation date: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.operationDate | date:'dd/MM/yyyy' }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Operative/procedure: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.operativeProcedure }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Problem/Prognosis: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.problemPrognosis }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Investigation: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.investigation }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">OrderForOneday: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.orderForOneday }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">OrderForContinue: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.orderForContinue }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Plan DC: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.planDC }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 font-weight-bold">Plan DC: </div>
                      <div class="col-md-10">{{ itemDashboardListConcurrentViewDto.expenses }}</div>
                    </div>

                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>

            </ng-container>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary bg-purple btn-flat m-1" (click)="btnAdd()"><i
                class="fas fa-plus p-1"></i>Add</button>

            <button type="button" class="btn btn-info bg-purple btn-flat m-1"
              (click)="btnPrintPdfConcurrentHistoryPdfFile()"><i class="fas fa-print p-1"></i>Print</button>

          </div>
        </div>




      </nb-tab>




      <nb-tab tabTitle="Disease" tabIcon="car-outline" responsive [disabled]="disabledTab">

        <div class="row">
          <div class="col-md-12">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Diagnosis 10</legend>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="label" for="input-username">Disease</label>
                  <ng-select [items]="diseaseItem10$ | async" bindLabel="code" [addTag]="false" [multiple]="false"
                    [hideSelected]="false" [trackByFn]="trackByFn" [loading]="diseaseLoading10"
                    [typeahead]="diseaseInput10$" [(ngModel)]="selectedDiseases10" placeholder="Search ICD10"
                    appendTo="body">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Primary</th>
                      <th scope="col">Used</th>
                      <th scope="col">Code/Disease Name</th>
                      <th scope="col" class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of diseases10; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <nb-radio-group name="diseases10Primary" [(ngModel)]="selectDiseases10Primary"
                          (ngModelChange)="modelChangedDiseases10Primary($event, item)">
                          <nb-radio checked="{{ item.primary }}" value="{{ item.id }}"></nb-radio>
                        </nb-radio-group>
                      </td>
                      <td>
                        <nb-checkbox [checked]="item.used" (checkedChange)="checkedDiseases10($event, item)">
                        </nb-checkbox>
                      </td>
                      <td>{{ item.code }}</td>
                      <td class="text-center">
                        <i class="far fa-trash-alt" (click)="deleteDiagnosis10(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-12 text-right">
                <button type="button" size="small" class="btn btn-success m-1"
                  (click)="addDiagnosis10(selectedDiseases10)"><i class="fas fa-plus"></i> Add</button>
              </div>


            </fieldset>
          </div>

          <div class="col-md-12">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Diagnosis 9</legend>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="label" for="input-username">Disease</label>

                  <ng-select [items]="diseaseItem9$ | async" bindLabel="code" [addTag]="false" [multiple]="false"
                    [hideSelected]="false" [trackByFn]="trackByFn" [loading]="diseaseLoading9"
                    [typeahead]="diseaseInput9$" [(ngModel)]="selectedDiseases9" placeholder="Search ICD9"
                    appendTo="body">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-12">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Primary</th>
                      <th scope="col">Used</th>
                      <th scope="col">Code/Disease Name</th>
                      <th scope="col" class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of diseases9; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <nb-radio-group name="diseases9Primary" [(ngModel)]="selectDiseases9Primary"
                          (ngModelChange)="modelChangedDiseases9Primary($event, item)">
                          <nb-radio checked="{{ item.primary }}" value="{{ item.id }}"></nb-radio>
                        </nb-radio-group>
                      </td>
                      <td>
                        <nb-checkbox [checked]="item.used" (checkedChange)="checkedDiseases9($event, item)">
                        </nb-checkbox>
                      </td>
                      <td>{{ item.code }}</td>
                      <td class="text-center">
                        <i class="far fa-trash-alt" (click)="deleteDiagnosis9(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-12 text-right">
                <button type="button" size="small" class="btn btn-success m-1"
                  (click)="addDiagnosis9(selectedDiseases9)"><i class="fas fa-plus"></i> Add</button>
              </div>

            </fieldset>
          </div>

          <div class="col-md-12">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Health Diagnosis</legend>

              <nb-radio-group name="HealthDiagnosis" [(ngModel)]="selectHealthDiagnosis">
                <nb-radio *ngFor="let item of healthDiagnosis" [checked]="item.id == 1" [value]="item.id">
                  {{ healthDiagnosisLang(item) }}</nb-radio>
              </nb-radio-group>

            </fieldset>
          </div>

          <div class="col-md-12">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Treatments</legend>

              <nb-radio-group name="Treatments" [(ngModel)]="selectTreatments">
                <nb-radio *ngFor="let item of treatment" [checked]="item.id == 1" [value]="item.id">
                  {{ treatmentLang(item) }}</nb-radio>
              </nb-radio-group>

            </fieldset>
          </div>



          <div class="col-md-12 text-right">
            <button type="button" size="small" class="btn btn-primary m-1" (click)="saveDisease()"><i
                class="far fa-save"></i> Save</button>
            <button type="button" size="small" class="btn btn-danger m-1"><i class="fas fa-sign-out-alt"></i>
              Exit</button>
          </div>
        </div>

      </nb-tab>




      <nb-tab tabTitle="Documents" tabIcon="archive-outline" responsive [disabled]="disabledTab">


        <div class="row">

          <div class="col-md-12">


            <div class="form-group">
              <label class="label" for="input-username">Upload File</label>
              <input type="file" class="form-control-file" multiple ng2FileSelect [uploader]="uploader" />

            </div>


          </div>

        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Remove</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                    </td>
                    <td nowrap>
                      <button type="button" class="btn btn-danger btn-sm p-0 pl-1 pr-1" (click)="item.remove()">
                        <i class="fas fa-trash-alt"></i> Remove
                      </button>
                    </td>
                    <td>
                      <a class="btn btn-primary btn-sm text-white p-0 pl-1 pr-1" (click)="viewFileUpload(item)">
                        <i class="fas fa-eye"></i> View
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-right">
            <button type="button" size="small" class="btn btn-primary m-1" (click)="btnUploadFileDocument()"
              [disabled]="!uploader.getNotUploadedItems().length"><i class="far fa-save"></i> Save</button>
            <button type="button" size="small" class="btn btn-danger m-1"><i class="fas fa-sign-out-alt"></i>
              Exit</button>
          </div>
        </div>


      </nb-tab>

      <nb-tab tabTitle="Status History" tabIcon="file-text-outline" responsive [disabled]="disabledTab">


        <div class="row">

          <div class="col-md-12">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Status History</legend>

              <ng-container
                *ngIf="faxclaimService?.infomationForClaimDto?.infomationClaims?.statusHistoryLists?.length > 0">

                <nb-accordion>

                  <nb-accordion-item #accordion
                    *ngFor="let statusHistoryListItem of faxclaimService?.infomationForClaimDto?.infomationClaims?.statusHistoryLists">
                    <nb-accordion-item-header>
                      <div class="col-md-12">
                        <div class="float-left">
                          {{ findLangForName(statusHistoryListItem.statusTitle).name }}
                        </div>
                        <div class="float-right">
                          {{ statusHistoryListItem.nameTransaction }}
                        </div>
                      </div>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>

                      <div class="col-md-12">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Status</th>
                              <th scope="col">Username/Create</th>
                              <th scope="col">Username/Update</th>
                              <th scope="col">Date time Create</th>
                              <th scope="col">Date time Update</th>
                              <th scope="col">Expenses</th>
                              <th scope="col">Netvalue</th>
                              <th scope="col">Cover</th>
                              <th scope="col">Uncove</th>
                              <th scope="col" style="width: 30%;">Note</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of statusHistoryListItem.statusHistoryListDetails; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ findLangForName(item.claimsInvoiceStatusHistorys.statuses.statusLangs).name }}</td>
                              <td>{{ item.createUsers.userName }}</td>
                              <td>{{ item.updateUsers.userName }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.updatedAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.expenses }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.netvalue }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.cover }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.uncove }}</td>
                              <td>{{ item.claimsInvoiceStatusHistorys.remark }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>

              </ng-container>
            </fieldset>




          </div>

        </div>

      </nb-tab>

      <nb-tab tabTitle="Claim Note" tabIcon="save-outline" responsive [disabled]="disabledTab">

        <div class="row mb-4 mt-2">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" style="width: 40%;">Note</th>
                  <th scope="col">Username/Create</th>
                  <th scope="col">Username/Update</th>
                  <th scope="col">Date time Create</th>
                  <th scope="col">Date time Update</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of faxclaimService?.infomationForClaimDto?.infomationClaims?.claimNoteLists; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.note }}</td>
                  <td>{{ item.createUsers.userName }}</td>
                  <td>{{ item.updateUsers.userName }}</td>
                  <td>{{ item.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                  <td>{{ item.updatedAt | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">


            <div class="form-group">
              <label class="label" for="input-username">Claim Note</label>
              <textarea class="form-control form-control-sm" rows="7" [(ngModel)]="claimNote"></textarea>
            </div>


          </div>

        </div>

        <div class="row mb-2">
          <div class="col-md-12 text-right">
            <button type="button" size="small" class="btn btn-primary m-1" (click)="btnSaveClaimNote()"><i class="far fa-save"></i> Save</button>
          </div>
        </div>

      </nb-tab>








    </nb-tabset>



  </nb-card-body>
</nb-card>