<nb-layout>

  <nb-layout-column>

    <div class="row justify-content-md-center">


      <div class="col-md-6">
        <nb-card>
          <nb-card-header>Login</nb-card-header>

          <nb-card-body>

            <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
              
              <div class="form-group" [ngClass]="{'has-error': loginForm.get('username').errors && loginForm.get('username').touched}">
                <label class="label" for="input-username">{{'Username' | translate}}</label>
                <input type="text" class="form-control form-control-sm" id="username" formControlName="username">
              </div>

              <div class="form-group" [ngClass]="{'has-error': loginForm.get('password').errors && loginForm.get('password').touched}">
                <label class="label" for="input-password">{{'Password' | translate}}</label>
                <input type="password" class="form-control form-control-sm" id="password" formControlName="password">
              </div>
              <br />

              <div class="form-group accept-group">
                <button type="submit" nbButton status="primary" size="small" class="float-right" [disabled]="!loginForm.valid">
                  <nb-icon icon="log-in-outline"></nb-icon> Log In
                </button>
              </div>
            </form>


          </nb-card-body>
        </nb-card>
      </div>

    </div>


  </nb-layout-column>

</nb-layout>