<nb-layout>

  <nb-layout-column>

    <div class="d-flex justify-content-center align-items-center h-75">

      <div class="col-md-4">
        <nb-card style="cursor: pointer;" [routerLink]="['/component/fax']">
          <div class="icon-container">
            <div class="icon status-primary">
              <nb-icon icon="phone-outline"></nb-icon>
            </div>
          </div>

          <div class="details">
            <div class="title h5">FAX CLAIM</div>
          </div>
        </nb-card>
      </div>

      <div class="col-md-4">
        <nb-card style="cursor: pointer;" [routerLink]="['/component/credit']">
          <div class="icon-container">
            <div class="icon status-success">
              <nb-icon icon="credit-card-outline"></nb-icon>
            </div>
          </div>

          <div class="details">
            <div class="title h5">CREDIT CLAIM</div>
          </div>
        </nb-card>
      </div>

    </div>


  </nb-layout-column>

</nb-layout>