<nb-card size="medium">
  <nb-card-body>

    <div class="row">
      <div class="col-md-2">
        <span class="h5 location">Concurrent</span>
      </div>

      <div class="col-md-8">
        <div class="input-group input-group-sm mb-3 col-md-12 float-right">
          <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="concurrentSearch">
          <div class="input-group-prepend" (click)="btnSearchConcurrent(concurrentSearch)">
            <span class="input-group-text btn btn-primary" id="inputGroup-sizing-sm">ค้นหา</span>
          </div>
        </div>
      </div>
      <nb-badge text="99+" status="danger" position="top right"></nb-badge>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">GCL</th>
          <th scope="col">ชื่อนามสกุลผู้ทำประกัน</th>
          <th scope="col">วันที่เข้าพักรักษา</th>
          <th scope="col">จำนวนวันที่ Admit</th>
          <th scope="col">ค่าใช้จ่ายที่ใช้ไป</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dashboardList of data.concurrentDashboardDto |filter:concurrentSearch; let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ dashboardList.gcl }}</td>
          <td>{{ dashboardList.firstName }} {{ dashboardList.lantName }}</td>
          <td class="text-center">{{ dashboardList.admitDate | date:'dd/MM/yyyy' }}</td>

          <td class="text-center">{{ dashboardList.admitDateCount }}</td>
          <td class="text-center">{{ dashboardList.expenses }}</td>
          <td class="text-center">
            <i nbTooltip="view-info" nbTooltipPlacement="top" nbButton class="far fa-edit p-1"
              (click)="viewInfoAction(dashboardList)"></i>
            <i nbTooltip="concurent" nbTooltipPlacement="top" nbButton class="fas fa-phone p-1"
              (click)="concurrentAction(dashboardList)"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>