<nb-card size="medium">
  <nb-card-body>

    <div class="row">
      <div class="col-md-2">
        <span class="h5 location">{{ dashboardViewDto.title }}</span>
      </div>

      <div class="col-md-8">
        <div class="input-group input-group-sm mb-3 col-md-12 float-right">
          <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-prepend">
            <span class="input-group-text btn btn-primary" id="inputGroup-sizing-sm">ค้นหา</span>
          </div>
        </div>
      </div>
      <nb-badge text="99+" status="danger" position="top right"></nb-badge>
    </div>






    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">GCL</th>
          <th scope="col">ชื่อนามสกุลผู้ทำประกัน</th>
          <th scope="col">ชื่อโรงพยาบาล</th>
          <th scope="col">ชื่อบริษัทประกัน</th>
          <th scope="col">ประเภทของการรักษา</th>
          <th scope="col">วัน/เวลาที่ request</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dashboardList of dashboardViewDto.dashboardLists; let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ dashboardList.gcl }}</td>
          <td>{{ dashboardList.claimType }}</td>
          <td>{{ dashboardList.chanel }}</td>

          <td>{{ dashboardList.chanel }}</td>
          <td>{{ dashboardList.chanel }}</td>
          <td>{{ dashboardList.chanel }}</td>

          <td class="text-center">
            <span *ngFor="let dashboardListAction of dashboardList.action">
              <i nbTooltip="{{dashboardListAction.actionItemName}}" nbTooltipPlacement="top" nbButton
                class="{{ dashboardListAction.icon }} p-1"
                (click)="dashboardListAction.event(dashboardList, dashboardListAction)"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>