<nb-card size="giant" class="d-flex flex-column h-100">
  <nb-card-body>
    <span class="h5 location">Claim List</span>
    <hr />

    <div class="row">
      <div class="col-md-12">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Search Claim List</legend>

          <form autocomplete="off" [formGroup]="claimFormSearch" (ngSubmit)="btnSearchClaim()">

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Insured Person Name :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="insuredPersonName">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Insured Person Surname :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="insuredPersonSurname">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Policy No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="policyNo">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Member No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="memberNo">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">GCL No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="gcl">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Case No. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="caseNo">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">GCL Status :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="statusId">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Created Date From. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="createdDateFrom" bsDatepicker [bsConfig]="bsConfig" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="label" for="input-username">Created Date To. :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="createdDateTo" bsDatepicker [bsConfig]="bsConfig" readonly>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-12 text-right">
                <button type="submit" size="small" class="btn btn-primary m-1"><i class="fas fa-search"></i>
                  Search</button>
                <button type="button" size="small" class="btn btn-danger m-1" (click)="resetForm()"><i
                    class="fas fa-trash"></i>
                  Reset</button>
              </div>
            </div>
          </form>

        </fieldset>
      </div>


      <div class="col-md-12">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Result Search</legend>

          <div class="row">


            <div class="col-md-12">
              <div class="table-responsive">

                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th class="col-auto" style="text-align: center;">#</th>
                      <th class="col-auto">GCL</th>
                      <th class="col-auto">Case No.</th>
                      <th class="col-auto">Insured Name/Insured Surname</th>
                      <th class="col-auto">Policy No.</th>
                      <th class="col-auto">Member No.</th>
                      <th class="col-auto">Hospital Name</th>
                      <th class="col-auto">Doc. Type</th>
                      <th class="col-auto">Pay to</th>
                      <th class="col-auto">Accident Date</th>
                      <th class="col-auto">Created Date</th>
                      <th class="col-auto">Created by</th>
                      <th class="col-auto">Claim Type</th>
                      <th class="col-auto">Status Claim</th>
                      <th class="col-auto">Chanel</th>
                      <th class="col-auto">Amount</th>
                    </tr>
                  </thead>
                  <tbody>

                    <ng-container *ngIf="claims.length > 0;else claimNotfound">
                      <tr *ngFor="let item of claims; let i = index" (click)="viewGcl(item)">
                        <td style="text-align: center;">{{ calPage(pagination, i)}}</td>
                        <td>{{ item.gcl }}</td>
                        <td>{{ item.claimsCase.no }}</td>
                        <td>{{ findLangForName(item.policie.peoples.peopleLangs).name }}
                          {{ findLangForName(item.policie.peoples.peopleLangs).surname }}</td>
                        <td>{{ item.policie.policyNo }}</td>
                        <td>{{ item.policie.memberNo }}</td>
                        <td>{{ findLangForName(item.hospital.hospitalsLangs).name }}</td>
                        <td>{{ findLangForName(item.docType.docTypeLangs).name }}</td>
                        <td>ยังไม่ได้ทำ</td>
                        <td>{{ item.accidentDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.createByUser.firstName }} {{ item.createByUser.lastName }}</td>
                        <td>{{ findLangForName(item.claimsType.claimsTypesLangs).name }}</td>
                        <td>{{ findLangForName(item.status.statusLangs).name }}</td>
                        <td>{{ item.channel.name }}</td>
                        <td>{{ item.expenses }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #claimNotfound>
                      <tr>
                        <td colspan="15" class="text-center">Information not found</td>
                      </tr>
                    </ng-template>

                  </tbody>
                </table>


                <div class="float-right">
                  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
                  </pagination>
                </div>
              </div>
            </div>


          </div>

        </fieldset>
      </div>
    </div>

  </nb-card-body>
</nb-card>
<router-outlet></router-outlet>