<div class="modal-header">
  <div class="col-md-4">
    <h4 class="modal-title pull-left">{{ title }}</h4>
  </div>
  <div class="col-md-4">
    <button type="button" class="close pull-right m-0 p-0" aria-label="Close" (click)="btnClose()">
      <span aria-hidden="true" style="font-size: 20px !important;">&times;</span>
    </button>
  </div>
</div>


<div class="modal-body overflow-auto" style="max-height: 450px;">

  <div class="row p-0 m-0">
    <div class="col-md-12">


      <form autocomplete="off" [formGroup]="concurrentAddForm">

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('dateLog').errors && concurrentAddForm.get('dateLog').touched}">
          <label class="label">Concurrent Date</label>
          <input type="text" class="form-control form-control-sm" formControlName="dateLog" bsDatepicker
            [bsConfig]="bsConfig" readonly />
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('disease').errors && concurrentAddForm.get('disease').touched}">
          <label class="label">Dx</label>
          <textarea class="form-control" rows="3" formControlName="disease"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('operationDate').errors && concurrentAddForm.get('operationDate').touched}">
          <label class="label">Operation date</label>
          <input type="text" class="form-control form-control-sm" formControlName="operationDate" bsDatepicker
            [bsConfig]="bsConfig" readonly />
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('operativeProcedure').errors && concurrentAddForm.get('operativeProcedure').touched}">
          <label class="label">Operative/procedure</label>
          <textarea class="form-control" rows="3" formControlName="operativeProcedure"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('problemPrognosis').errors && concurrentAddForm.get('problemPrognosis').touched}">
          <label class="label">Problem/Prognosis</label>
          <textarea class="form-control" rows="3" formControlName="problemPrognosis"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('investigation').errors && concurrentAddForm.get('investigation').touched}">
          <label class="label">Investigation</label>
          <textarea class="form-control" rows="3" formControlName="investigation"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('orderForOneday').errors && concurrentAddForm.get('orderForOneday').touched}">
          <label class="label">OrderForOneday</label>
          <textarea class="form-control" rows="3" formControlName="orderForOneday"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('orderForContinue').errors && concurrentAddForm.get('orderForContinue').touched}">
          <label class="label">OrderForContinue</label>
          <textarea class="form-control" rows="3" formControlName="orderForContinue"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('planDC').errors && concurrentAddForm.get('planDC').touched}">
          <label class="label">Plan DC</label>
          <textarea class="form-control" rows="3" formControlName="planDC"></textarea>
        </div>

        <div class="form-group"
          [ngClass]="{'has-error': concurrentAddForm.get('expenses').errors && concurrentAddForm.get('expenses').touched}">
          <label class="label">Expenses</label>
          <input numeric numericType="decimal" type="text" class="form-control" formControlName="expenses">
        </div>

      </form>


    </div>
  </div>

</div>

<div class="clearfix"></div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary bg-purple btn-flat" (click)="btnSave()"
  [disabled]="!concurrentAddForm.valid"><i class="far fa-save p-1"></i>Save</button>
  <button type="button" class="btn btn-danger bg-purple btn-flat" (click)="btnClose()"><i
      class="fas fa-sign-out-alt p-1"></i>Close</button>
</div>