<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo">
      <h4>{{ headerService.title }} <nb-icon class="control-item" icon="plus-square-outline" (click)="globalService.addGlobalNotification()"></nb-icon></h4>
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">


    <nb-action class="control-item">
      <div class="btn-group" dropdown placement="bottom left">

        <nb-icon icon="bell-outline" dropdownToggle aria-controls="dropdown-alignment"></nb-icon>
        <nb-badge text="{{ globalService.globalNotification.countNotification }}" status="danger" position="top right" style="top: -50%; right: -75%; width: 30px;">
        </nb-badge>


        <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-left overflow-auto" role="menu"
          aria-labelledby="button-alignment">

          <li role="menuitem" *ngFor="let item of globalService.globalNotification.detailListNotification">
            <nb-card [routerLink]="['/component/fax/claims/claim-info/' + item.gcl]">
              <nb-card-body>

                <nb-user size="medium" name="{{item.gcl}}" title="{{item.status}}" picture="{{item.iconPartner}}">
                </nb-user>

              </nb-card-body>
            </nb-card>
          </li>

        </ul>




      </div>
    </nb-action>

    <!-- <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->


    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture">
      </nb-user>
    </nb-action>

  </nb-actions>
</div>