@font-face {
  font-family: 'sukhumvit_setthin';
  src: url('assets/fonts/sukhumvit/sukhumvitset-thin-webfont.eot');
  src: url('assets/fonts/sukhumvit/sukhumvitset-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/sukhumvit/sukhumvitset-thin-webfont.woff') format('woff'),
  url('assets/fonts/sukhumvit/sukhumvitset-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'sukhumvit_setmedium';
  src: url('assets/fonts/sukhumvit/sukhumvitset-medium-webfont.eot');
  src: url('assets/fonts/sukhumvit/sukhumvitset-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/sukhumvit/sukhumvitset-medium-webfont.woff') format('woff'),
  url('assets/fonts/sukhumvit/sukhumvitset-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_settext';
  src: url('assets/fonts/sukhumvit/sukhumvitset-text-webfont.eot');
  src: url('assets/fonts/sukhumvit/sukhumvitset-text-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/sukhumvit/sukhumvitset-text-webfont.woff') format('woff'),
  url('assets/fonts/sukhumvit/sukhumvitset-text-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setbold';
  src: url('assets/fonts/sukhumvit/sukhumvitset-bold-webfont.eot');
  src: url('assets/fonts/sukhumvit/sukhumvitset-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/sukhumvit/sukhumvitset-bold-webfont.woff') format('woff'),
  url('assets/fonts/sukhumvit/sukhumvitset-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
