@import "font.css";
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build//css/themes/default.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

@media (min-width: 992px) {.modal-lg {max-width: 980px;}}
@media (min-width: 1200px) {.modal-lg {max-width: 1500px;}}

@media (min-width: 992px) {.modal-sm {max-width: 780px;}}
@media (min-width: 1200px) {.modal-sm {max-width: 900px;}}

* {
  font-family: 'sukhumvit_settext', 'nebular', 'Font Awesome 5 Free' !important;
  font-size: 12px !important;
}

/* body, a, input, select, textarea, button {
    font-size: 12px !important;
} */

nb-icon{
    font-size: 1.6rem !important;
}

fieldset{
    line-height: 1.7rem !important;
}

body {
    font-size: 12px !important;
}

.has-error .ng-invalid {
    border: 1px solid #dc3545;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal !important;
    border-bottom: 1px solid #ccc !important;
}