<nb-card size="medium">
  <nb-card-body>

    <div class="row">
      <div class="col-md-2">
        <span class="h5 location">Todo List</span>
      </div>

      <div class="col-md-8">
        <div class="input-group input-group-sm mb-3 col-md-12 float-right">
          <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="todoListSearch">
          <div class="input-group-prepend" (click)="btnSearchTodoList(todoListSearch)">
            <span class="input-group-text btn btn-primary" id="inputGroup-sizing-sm">ค้นหา</span>
          </div>
        </div>
      </div>
      <nb-badge text="99+" status="danger" position="top right"></nb-badge>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">#</th>
          <th scope="col">GCL</th>
          <th scope="col">Due Date</th>
          <th scope="col">วันที่ทำ To do list</th>
          <th scope="col">ประเภทของเอกสารที่ติดตาม</th>
          <th scope="col">Descriptions</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dashboardList of data.todoListDashboardDto |filter:todoListSearch; let i = index;">
          <td>
            <nb-icon icon="alert-circle-outline"></nb-icon>
          </td>
          <td scope="row">
             {{ i + 1 }}</td>
          <td>{{ dashboardList.gcl }}</td>
          <td>{{ dashboardList.dueDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ dashboardList.dateMadeTodo | date:'dd/MM/yyyy' }}</td>
          <td>{{ dashboardList.claimType }}</td>
          <td>{{ dashboardList.description }}</td>
          <td>
            <i nbTooltip="view-info" nbTooltipPlacement="top" nbButton class="far fa-edit p-1"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>